.body-contato {
    width: 100%;
}

.view-area {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-contato {
    padding: 70px;
    width: 900px;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

h1 {
    margin-bottom: 30px;
}

.input-area {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 8%;
}

.format-input {
    border-top: none;
    border-left: none;
    border-right: none;
    width: 45%;
    height: 80%;
    font: normal 1em Arial;
    background-color: transparent;
}

textarea {
    margin-top: 5%;
    width: 100%;
    background-color: transparent;
}


.sweep-to-right {
    bottom: 20px;
    width: 200px;
    height: 50px;
    border: none;
    background-color: #457b9d;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: absolute;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    border-radius: 10px;
  }

  .sweep-to-right:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #457b9d52;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    border-radius: 10px;
  }

  .sweep-to-right:hover, .sweep-to-right:focus, .sweep-to-right:active {
    color: white;
    border: none;
  }

  .sweep-to-right:hover:before, .sweep-to-right:focus:before, .sweep-to-right:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }

  @media (max-width: 900px) {
    .form-contato {
      width: 100%;
    }
  }


  @media (max-width: 450px) {
    div.input-area  {
      flex-direction: column;
      align-items: center;
      height: 80px;
    }
    .format-input {
      width: 100%;
    }
    .form-contato {
      padding: 10px;
    }
  }
