.body-home {
    width: 100%;
    position: absolute;
    background-color: #f1faee;
    padding: 0;
    margin: 0;
    height: auto;
    overflow: hidden;
}

.banner-area {
    width: inherit;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 0;
    margin: 0;
    background-color: #f1faee;
    overflow: hidden;
}

.waves {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}

.wave-1 {
    animation: moveWave1 3s ease-in-out infinite alternate;
}

@keyframes moveWave1 {
    from {
        transform: translateX(-200px);
    }
}

.wave-2 {
    animation: moveWave2 3s 1.2s ease-in-out infinite alternate;
}

@keyframes moveWave2 {
    from {
        transform: translateX(-180px);
    }
}

.wave-3 {
    animation: moveWave3 3s 0.7s ease-in-out infinite alternate;
}

@keyframes moveWave3 {
    from {
        transform: translateX(-150px);
    }
}


.title {
    color: #457b9d;
    font-family: 'Hind Madurai', sans-serif;
    font-weight: 500;
    font-size: 4.5em;
    position: absolute;
    left: 50px;
    top: 30vh;
}

.sub-title {
    position: absolute;
    left: 50px;
    top: 30vh;
    margin-top: 80px;
    color: #457b9d;
}

.undraw {
    opacity: 0.2;
}

.animation--btn {
    position: absolute;
    top: 55vh;
    right: 80px;
    width: 250px;
    height: 70px;
    padding: 19px 36px;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    border-radius: 40px;
    border: none;
   }
   
   .animation--btn span {
    position: relative;
    color: #fff;
    font-family: Arial;
    letter-spacing: 8px;
    z-index: 1;
   }
   
   .animation--btn .liquid {
    position: absolute;
    top: -80px;
    left: 0;
    width: 100%;
    height: 200px;
    background: #5bc0be;
    box-shadow: inset 0 0 50px #457b9d;
    transition: .5s;
   }
   
   .animation--btn .liquid::after,
   .animation--btn .liquid::before {
    content: '';
    width: 200%;
    height: 200%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -75%);
    background: #fff;
   }
   
   .animation--btn .liquid::before {
    border-radius: 45%;
    background: rgba(20, 20, 20, 1);
    animation: animate 5s linear infinite;
   }
   
   .animation--btn .liquid::after {
    border-radius: 40%;
    background: rgba(20, 20, 20, .5);
    animation: animate 10s linear infinite;
   }
   
   .animation--btn:hover .liquid {
    top: -120px;
   }
   
   @keyframes animate {
    0% {
     transform: translate(-50%, -75%) rotate(0deg);
    }
   
    100% {
     transform: translate(-50%, -75%) rotate(360deg);
    }
   }

@media (max-width: 815px) {
   .title, .sub-title  {
        position: static;
   }
   .animation--btn {
        top: 75vh;
        right: calc(50% - 125px);
   }  
}

@media (max-width: 395px) {
    .sub-title {
        margin-top: 0;
    }
}

@media (max-width: 335px) {
    .animation--btn {
        top: 78vh;
    }
}

@media (max-height: 600px) {
    .sub-title {
        display: none;
    }
    .animation--btn {
        top: 68vh;
    }
}
